#CurrentLocation{
    max-height: 25px;
    max-width: 25px;
    
}
#CurrentLocation:hover{
    cursor: pointer;
}
input[Type="button"]{
    cursor: pointer;
}
@media (min-width: 480px){
    .leaflet-left{
        width: 50%;
    }
}
@media only screen and (max-width: 479px){
    .leaflet-left{
        width: 80%;
    }
}
@media only screen and (max-width:529px) and (min-width: 479px){
    .weather{
        max-width: 40px;
    }
}
@media only screen and (max-width:330px){
    .weather{
        max-width: 40px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
   

select:hover{
    cursor: pointer;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#mapid { 
    height: 100%;
    width: 100%;
}
div{
    word-wrap: break-word;
}

.leaflet-control{
    width: 100%;
}
.input-group{
    width: 100%;
}
.webPicture{
    width:100%
}