.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border:none;
    
}
input[Type="button"]{
    cursor: pointer;
}
@media (min-width: 675px){
    .leaflet-left{
        width: 50%;
    }
}
@media only screen and (max-width: 674px){
    .leaflet-left{
        width: 80%;
    }
}

@media only screen and (max-width:375px){
    .weather{
        max-width: 40px;
    }
    table > thead > tr > th{
        font-size: xx-small;
    }
    table > tbody > tr > td{
        font-size: xx-small;
    }
}


select:hover{
    cursor: pointer;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
td{
    text-align: center;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#mapid { 
    height: 100%;
    width: 100%;
}
div{
    word-wrap: break-word;
}

/* .leaflet-control{
    width: 100%;
} */
.webPicture{
    width:100%
}
.nav-pills > li > a {
    border-radius: 5;
    background-color: white;
    max-width: 80px;
    text-align: center;
    padding: 5px;
    font-size: x-small;
  }
ul{
    width: 100%;
}
.container{
    width: 100%;
    padding: 0;
}
.currentIcon{
    color: orange;
}
.easy-button-button{
    float: right;
}
