#CurrentLocation{
    max-height: 25px;
    max-width: 25px;
    
}
#CurrentLocation:hover{
    cursor: pointer;
}
input[Type="button"]{
    cursor: pointer;
}
@media only screen and (min-width: 700px){


}

   

select:hover{
    cursor: pointer;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#mapid { 
    height: 100%;
    width: 100%;
}
#GeoInfo{
    background-color: chartreuse;
}
#WikiLinks{
    background-color: slategray;
    color: snow;
}
div{
    word-wrap: break-word;
}
#navBar{
    z-index: 8000;
    background-color: slategray;
    position: fixed;
    top: 0;
    width: 100%;
}
.leaflet-right{
    width: 50%;
}
.leaflet-control{
    width: 100%;
}
.input-group{
    width: 100%;
}